
.ant-layout, .ant-layout-footer{
    background: whitesmoke !important;
}

html,body,#root{
    width: 100%;
}

#cart-content {
    margin: 0 auto;
    padding-top: 170px;
    width:72%;
}

.ant-layout-header {
    background: rgb(255, 255, 255) !important;
    padding: 0 !important;
}

